<div class="dropdown">
  <div class="dropdown__label">{{ label }}</div>
  <div class="dropdown__option-list">
    {% for option in options %}
      <div class="dropdown__option">{{ option }}</div>
    {% endfor %}
  </div>
</div>