{% if section.settings.recommended_for__enabled %}
  <div class="container bg-color--white pt--25 pb--25">
      <h1 class="h1--underline">{{ section.settings.recommended_for__title }}</h1>
  </div>
{% endif %}
