{% assign blog = blogs.faq %}
<div class="row-accordion">
  <h3 class="text-center">Customer Queries</h3> 
<div class="container-accordion">              
     <ul>
    {% for article in blog.articles %}
        <li class="accordion-list">
          {% comment %}<div class="accordion title" id="section1">{{ article.title }}</div>{% endcomment %}
          {% comment %}<div class="container-description">   {% endcomment %}         
              {% if article.excerpt != blank %}{{ article.excerpt }}{% else %}{{ article.content }}{% endif %}                
          {% comment %}</div>{% endcomment %}
        </li>
    {% endfor %} 
    </ul>
  </div> 
</div>
<style>
  li.accordion-list .container-description {
    display : none;
    margin-bottom: 20px;
  }
</style>
<script type="text/javascript">
  $('.accordion.title').click(function() {
    $('div.container-description').hide();
    $(this).next('div.container-description').show();
  });
</script>
