{% capture push_header %}
  <div class="header__push bg-color--desert-storm">
    <div class="container">
      <div class="inner bg-color--desert-storm">
        {% include 'breadcrumb' %}

        <div class="header__push-content">
          <h1 class="header__push-title h1--underline">{{ 'cart.general.title' | t }}</h1>
        </div>
      </div>
    </div>
  </div>
{% endcapture %}

{% section 'cart' %}