<div class="theme--labolabo">
	{% section 'labolabo_hero' %}
	{% section 'labolabo_products' %}
	{% section 'labolabo_product_icons' %}
	{% section 'labolabo_content' %}
	{% section 'labolabo_content_and_images' %}
	{% section 'labolabo_awards' %}
</div>
