<section class="page">
  <div class="container">
    <div class="inner">
      <div class="page__content text--center" style="margin-top:50px">
        <p><img src="{{ 'icon-checked.png' | asset_url }}" alt="" style="display: block; margin-left: auto; margin-right: auto;" /></p>
        <h1 class="header__push-title h1--underline">{{ 'congratulations.general.title' | t }}</h1>
        <p></p>
        <p style="text-align: center;">{{ 'congratulations.general.description' | t }}</p>
        <a style="display: inline-block; margin-left: auto; margin-right: auto;" class="button button--black"
        href="collections/all">{{ 'congratulations.general.shop_for_more' | t }}</a>
      </div>
    </div>
  </div>
</section>