<section class="page about-us">
	{% section 'custom_slider'  %}
	{% section 'home_featured_content' %}
	{% section 'image_text_cover' %}
  {% section 'about_us_content_list' %}
  {% section 'about_us_pay-off' %}
</section>


