<section class="theme--skin-concerns">
	{% if page.title == 'Dehydration' %}
		{% section 'skin-concerns_custom_slider_Dehydration' %}
	  {% section 'skin-concerns_routine_Dehydration' %}
    <div class="container skin-concerns__sliders-container">
      <div class="grid grid--gallery">
        <div class="grid__cell 1/1--thumb 1/2--lap-and-up ">
          {% section 'skin-concerns_routine_day_Dehydration' %}
        </div>
        <div class="grid__cell 1/1--thumb 1/2--lap-and-up ">
          {% section 'skin-concerns_routine_night_Dehydration' %}
        </div>
      </div>
    </div>
	  {% section 'skin-concerns_prescription_Dehydration' %}
	{% endif%}

	{% if page.title == 'Anti-Ageing' %}
  	{% section 'skin-concerns_custom_slider_Anti-Ageing' %}
  	{% section 'skin-concerns_routine_Anti-Ageing' %}
    <div class="container skin-concerns__sliders-container">
      <div class="grid grid--gallery">
        <div class="grid__cell 1/1--thumb 1/2--lap-and-up ">
          {% section 'skin-concerns_routine_day_Anti-Ageing' %}
        </div>
        <div class="grid__cell 1/1--thumb 1/2--lap-and-up ">
          {% section 'skin-concerns_routine_night_Anti-Ageing' %}
        </div>
      </div>
    </div>
  	{% section 'skin-concerns_prescription_Anti-Ageing' %}
  {% endif%}

  {% if page.title == 'Whitening' %}
  	{% section 'skin-concerns_custom_slider_Whitening' %}
    {% section 'skin-concerns_routine_Whitening' %}
    <div class="container skin-concerns__sliders-container">
      <div class="grid grid--gallery">
        <div class="grid__cell 1/1--thumb 1/2--lap-and-up ">
          {% section 'skin-concerns_routine_day_Whitening' %}
        </div>
        <div class="grid__cell 1/1--thumb 1/2--lap-and-up ">
          {% section 'skin-concerns_routine_night_Whitening' %}
        </div>
      </div>
    </div>
    {% section 'skin-concerns_prescription_Whitening' %}
  {% endif%}

	{% if page.title == 'Sensitive' %}
		{% section 'skin-concerns_custom_slider_Sensitive' %}
	  {% section 'skin-concerns_routine_Sensitive' %}
	  <div class="container skin-concerns__sliders-container">
	    <div class="grid grid--gallery">
	      <div class="grid__cell 1/1--thumb 1/2--lap-and-up ">
	        {% section 'skin-concerns_routine_day_Sensitive' %}
	      </div>
	      <div class="grid__cell 1/1--thumb 1/2--lap-and-up ">
	        {% section 'skin-concerns_routine_night_Sensitive' %}
	      </div>
	    </div>
	  </div>
    {% section 'skin-concerns_prescription_Sensitive' %}
	{% endif%}

	{% if page.title == 'Sensitive Acne-Prone' %}
  	{% section 'skin-concerns_custom_slider_Sensitive-Acne-Prone' %}
    {% section 'skin-concerns_routine_Sensitive-Acne-Prone' %}
    <div class="container skin-concerns__sliders-container">
      <div class="grid grid--gallery">
        <div class="grid__cell 1/1--thumb 1/2--lap-and-up ">
          {% section 'skin-concerns_routine_day_Sensitive-Acne-Prone' %}
        </div>
        <div class="grid__cell 1/1--thumb 1/2--lap-and-up ">
          {% section 'skin-concerns_routine_night_Sensitive-Acne-Prone' %}
        </div>
      </div>
    </div>
    {% section 'skin-concerns_prescription_Sensitive-Acne-Prone' %}
  {% endif%}

</section>