{% section 'product' %}

{% case product.metafields.product['handle'] %}
  {% when '4d-botolium-enrich-lift' %}
    {% section 'product_details__4d-botolium-enrich-lift' %}
    {% section 'product_gift__4d-botolium-enrich-lift' %}
    {% section 'product_benefits__4d-botolium-enrich-lift' %}
    {% section 'product_expl__4d-botolium-enrich-lift' %}
    <div class="container product-pr-recom-wrapper">
      <div class="product-pr-wrapper">
        {% section 'product_pr__4d-botolium-enrich-lift' %}
        {% section 'product_prsl__4d-botolium-enrich-lift' %}
      </div>
      <div class="product-recom-wrapper">
        {% section 'product_recomfor__4d-botolium-enrich-lift' %}
        {% section 'product_slider__4d-botolium-enrich-lift' %}
      </div>
    </div>
    {% section 'product_awards__4d-botolium-enrich-lift' %}
    {% section 'product_reviews__4d-botolium-enrich-lift' %}
  {% when 'aqua-collagen-gel-bihaku' %}
    {% section 'product_details__aqua-collagen-gel-bihaku' %}
    {% section 'product_gift__aqua-collagen-gel-bihaku' %}
    {% section 'product_benefits__aqua-collagen-gel-bihaku' %}
    {% section 'product_expl__aqua-collagen-gel-bihaku' %}
    <div class="container product-pr-recom-wrapper">
      <div class="product-pr-wrapper">
        {% section 'product_pr__aqua-collagen-gel-bihaku' %}
        {% section 'product_prsl__aqua-collagen-gel-bihaku' %}
      </div>
      <div class="product-recom-wrapper">
        {% section 'product_recomfor__aqua-collagen-gel-bihaku' %}
        {% section 'product_slider__aqua-collagen-gel-bihaku' %}
      </div>
    </div>
    {% section 'product_awards__aqua-collagen-gel-bihaku' %}
    {% section 'product_reviews__aqua-collagen-gel-bihaku' %}
  {% when 'aqua-collagen-gel-deep-moisture-mask' %}
    {% section 'product_details__aqua-collagen-gel-deep-moisture-m' %}
    {% section 'product_gift__aqua-collagen-gel-deep-moisture-' %}
    {% section 'product_benefits__aqua-collagen-gel-deep-moisture-' %}
    {% section 'product_expl__aqua-collagen-gel-deep-moisture-' %}
    <div class="container product-pr-recom-wrapper">
      <div class="product-pr-wrapper">
        {% section 'product_pr__aqua-collagen-gel-deep-moisture-' %}
                {% section 'product_prsl__aqua-collagen-gel-deep-moisture-' %}
      </div>
      <div class="product-recom-wrapper">
        {% section 'product_recomfor__aqua-collagen-gel-deep-moisture-' %}
        {% section 'product_slider__aqua-collagen-gel-deep-moisture-ma' %}
      </div>
    </div>
    {% section 'product_awards__aqua-collagen-gel-deep-moisture-ma' %}
    {% section 'product_reviews__aqua-collagen-gel-deep-moisture-m' %}
  {% when 'aqua-collagen-gel-enrich-lift-ex' %}
    {% section 'product_details__aqua-collagen-gel-enrich-lift-ex' %}
    {% section 'product_gift__aqua-collagen-gel-enrich-lift-ex' %}
    {% section 'product_benefits__aqua-collagen-gel-enrich-lift-ex' %}
    {% section 'product_expl__aqua-collagen-gel-enrich-lift-ex' %}
    <div class="container product-pr-recom-wrapper">
      <div class="product-pr-wrapper">
        {% section 'product_pr__aqua-collagen-gel-enrich-lift-ex' %}
        {% section 'product_prsl__aqua-collagen-gel-enrich-lift-ex' %}
      </div>
      <div class="product-recom-wrapper">
        {% section 'product_recomfor__aqua-collagen-gel-enrich-lift-ex' %}
        {% section 'product_slider__aqua-collagen-gel-enrich-lift-ex' %}
      </div>
    </div>
    {% section 'product_awards__aqua-collagen-gel-enrich-lift-ex' %}
    {% section 'product_reviews__aqua-collagen-gel-enrich-lift-ex' %}
  {% when 'aqua-collagen-gel-super-moisture-ex' %}
    {% section 'product_details__aqua-collagen-gel-super-moisture-' %}
    {% section 'product_gift__aqua-collagen-gel-super-moisture-e' %}
    {% section 'product_benefits__aqua-collagen-gel-super-moisture' %}
    {% section 'product_expl__aqua-collagen-gel-super-moisture-e' %}
    <div class="container product-pr-recom-wrapper">
      <div class="product-pr-wrapper">
        {% section 'product_pr__aqua-collagen-gel-super-moisture-e' %}
        {% section 'product_prsl__aqua-collagen-gel-super-moisture-e' %}
      </div>
      <div class="product-recom-wrapper">
        {% section 'product_recomfor__aqua-collagen-gel-super-moisture' %}
        {% section 'product_slider__aqua-collagen-gel-super-moisture-e' %}
      </div>
    </div>
    {% section 'product_awards__aqua-collagen-gel-super-moisture-e' %}
    {% section 'product_reviews__aqua-collagen-gel-super-moisture-' %}
  {% when 'aqua-collagen-gel-super-sensitive' %}
    {% section 'product_details__aqua-collagen-gel-super-sensitive' %}
    {% section 'product_gift__aqua-collagen-gel-super-sensitive' %}
    {% section 'product_benefits__aqua-collagen-gel-super-sensitiv' %}
    {% section 'product_expl__aqua-collagen-gel-super-sensitive' %}
    <div class="container product-pr-recom-wrapper">
      <div class="product-pr-wrapper">
        {% section 'product_pr__aqua-collagen-gel-super-sensitive' %}
        {% section 'product_prsl__aqua-collagen-gel-super-sensitive' %}
      </div>
      <div class="product-recom-wrapper">
        {% section 'product_recomfor__aqua-collagen-gel-super-sensitiv' %}
        {% section 'product_slider__aqua-collagen-gel-super-sensitive' %}
      </div>
    </div>
    {% section 'product_awards__aqua-collagen-gel-super-sensitive' %}
    {% section 'product_reviews__aqua-collagen-gel-super-sensitive' %}
  {% when 'aqua-in-derm' %}
    {% section 'product_details__aqua-in-derm' %}
    {% section 'product_gift__aqua-in-derm' %}
    {% section 'product_benefits__aqua-in-derm' %}
    {% section 'product_expl__aqua-in-derm' %}
    <div class="container product-pr-recom-wrapper">
      <div class="product-pr-wrapper">
        {% section 'product_pr__aqua-in-derm' %}
        {% section 'product_prsl__aqua-in-derm' %}
      </div>
      <div class="product-recom-wrapper">
        {% section 'product_recomfor__aqua-in-derm' %}
        {% section 'product_slider__aqua-in-derm' %}
      </div>
    </div>
    {% section 'product_awards__aqua-in-derm' %}
    {% section 'product_reviews__aqua-in-derm' %}
  {% when 'bb-perfect-cream-white377' %}
    {% section 'product_details__bb-perfect-cream-white377' %}
    {% section 'product_gift__bb-perfect-cream-white377' %}
    {% section 'product_benefits__bb-perfect-cream-white377' %}
    {% section 'product_expl__bb-perfect-cream-white377' %}
    <div class="container product-pr-recom-wrapper">
      <div class="product-pr-wrapper">
        {% section 'product_pr__bb-perfect-cream-white377' %}
        {% section 'product_prsl__bb-perfect-cream-white377' %}
      </div>
      <div class="product-recom-wrapper">
        {% section 'product_recomfor__bb-perfect-cream-white377' %}
        {% section 'product_slider__bb-perfect-cream-white377' %}
      </div>
    </div>
    {% section 'product_awards__bb-perfect-cream-white377' %}
    {% section 'product_reviews__bb-perfect-cream-white377' %}
  {% when 'enrich-lift-bb-perfect-cream' %}
    {% section 'product_details__enrich-lift-bb-perfect-cream' %}
    {% section 'product_gift__enrich-lift-bb-perfect-cream' %}
    {% section 'product_benefits__enrich-lift-bb-perfect-cream' %}
    {% section 'product_expl__enrich-lift-bb-perfect-cream' %}
    <div class="container product-pr-recom-wrapper">
      <div class="product-pr-wrapper">
        {% section 'product_pr__enrich-lift-bb-perfect-cream' %}
        {% section 'product_prsl__enrich-lift-bb-perfect-cream' %}
      </div>
      <div class="product-recom-wrapper">
        {% section 'product_recomfor__enrich-lift-bb-perfect-cream' %}
        {% section 'product_slider__enrich-lift-bb-perfect-cream' %}
      </div>
    </div>
    {% section 'product_awards__enrich-lift-bb-perfect-cream' %}
    {% section 'product_reviews__enrich-lift-bb-perfect-cream' %}
  {% when 'enrich-lift-cleansing-cream-ex' %}
    {% section 'product_details__enrich-lift-cleansing-cream-ex' %}
    {% section 'product_gift__enrich-lift-cleansing-cream-ex' %}
    {% section 'product_benefits__enrich-lift-cleansing-cream-ex' %}
    {% section 'product_expl__enrich-lift-cleansing-cream-ex' %}
    <div class="container product-pr-recom-wrapper">
      <div class="product-pr-wrapper">
        {% section 'product_pr__enrich-lift-cleansing-cream-ex' %}
        {% section 'product_prsl__enrich-lift-cleansing-cream-ex' %}
      </div>
      <div class="product-recom-wrapper">
        {% section 'product_recomfor__enrich-lift-cleansing-cream-ex' %}
        {% section 'product_slider__enrich-lift-cleansing-cream-ex' %}
      </div>
    </div>
    {% section 'product_awards__enrich-lift-cleansing-cream-ex' %}
    {% section 'product_reviews__enrich-lift-cleansing-cream-ex' %}
  {% when 'enrich-lift-eye' %}
    {% section 'product_details__enrich-lift-eye' %}
    {% section 'product_gift__enrich-lift-eye' %}
    {% section 'product_benefits__enrich-lift-eye' %}
    {% section 'product_expl__enrich-lift-eye' %}
    <div class="container product-pr-recom-wrapper">
      <div class="product-pr-wrapper">
        {% section 'product_pr__enrich-lift-eye' %}
        {% section 'product_prsl__enrich-lift-eye' %}
      </div>
      <div class="product-recom-wrapper">
        {% section 'product_recomfor__enrich-lift-eye' %}
        {% section 'product_slider__enrich-lift-eye' %}
      </div>
    </div>
    {% section 'product_awards__enrich-lift-eye' %}
    {% section 'product_reviews__enrich-lift-eye' %}
  {% when 'enrich-lift-sleep-mask' %}
    {% section 'product_details__enrich-lift-sleep-mask' %}
    {% section 'product_gift__enrich-lift-sleep-mask' %}
    {% section 'product_benefits__enrich-lift-sleep-mask' %}
    {% section 'product_expl__enrich-lift-sleep-mask' %}
    <div class="container product-pr-recom-wrapper">
      <div class="product-pr-wrapper">
        {% section 'product_pr__enrich-lift-sleep-mask' %}
        {% section 'product_prsl__enrich-lift-sleep-mask' %}
      </div>
      <div class="product-recom-wrapper">
        {% section 'product_recomfor__enrich-lift-sleep-mask' %}
        {% section 'product_slider__enrich-lift-sleep-mask' %}
      </div>
    </div>
    {% section 'product_awards__enrich-lift-sleep-mask' %}
    {% section 'product_reviews__enrich-lift-sleep-mask' %}
  {% when 'enrich-lift-up-lotion' %}
    {% section 'product_details__enrich-lift-up-lotion' %}
    {% section 'product_gift__enrich-lift-up-lotion' %}
    {% section 'product_benefits__enrich-lift-up-lotion' %}
    {% section 'product_expl__enrich-lift-up-lotion' %}
    <div class="container product-pr-recom-wrapper">
      <div class="product-pr-wrapper">
        {% section 'product_pr__enrich-lift-up-lotion' %}
        {% section 'product_prsl__enrich-lift-up-lotion' %}
      </div>
      <div class="product-recom-wrapper">
        {% section 'product_recomfor__enrich-lift-up-lotion' %}
        {% section 'product_slider__enrich-lift-up-lotion' %}
      </div>
    </div>
    {% section 'product_awards__enrich-lift-up-lotion' %}
    {% section 'product_reviews__enrich-lift-up-lotion' %}
  {% when 'enrich-lift-washing-foam-ex' %}
    {% section 'product_details__enrich-lift-washing-foam-ex' %}
    {% section 'product_gift__enrich-lift-washing-foam-ex' %}
    {% section 'product_benefits__enrich-lift-washing-foam-ex' %}
    {% section 'product_expl__enrich-lift-washing-foam-ex' %}
    <div class="container product-pr-recom-wrapper">
      <div class="product-pr-wrapper">
        {% section 'product_pr__enrich-lift-washing-foam-ex' %}
        {% section 'product_prsl__enrich-lift-washing-foam-ex' %}
      </div>
      <div class="product-recom-wrapper">
        {% section 'product_recomfor__enrich-lift-washing-foam-ex' %}
        {% section 'product_slider__enrich-lift-washing-foam-ex' %}
      </div>
    </div>
    {% section 'product_awards__enrich-lift-washing-foam-ex' %}
    {% section 'product_reviews__enrich-lift-washing-foam-ex' %}
  {% when 'herbal-gel-o2' %}
    {% section 'product_details__herbal-gel-o2' %}
    {% section 'product_gift__herbal-gel-o2' %}
    {% section 'product_benefits__herbal-gel-o2' %}
    {% section 'product_expl__herbal-gel-o2' %}

    <div class="container product-pr-recom-wrapper">
      <div class="product-pr-wrapper">
        {% section 'product_pr__herbal-gel-o2' %}
        {% section 'product_prsl__herbal-gel-o2' %}
      </div>
      <div class="product-recom-wrapper">
        {% section 'product_recomfor__herbal-gel-o2' %}
        {% section 'product_slider__herbal-gel-o2' %}
      </div>
    </div>

    {% section 'product_awards__herbal-gel-o2' %}
    {% section 'product_reviews__herbal-gel-o2' %}
  {% when 'herbal-serum-o2' %}
    {% section 'product_details__herbal-serum-o2' %}
    {% section 'product_gift__herbal-serum-o2' %}
    {% section 'product_benefits__herbal-serum-o2' %}
    {% section 'product_expl__herbal-serum-o2' %}

    <div class="container product-pr-recom-wrapper">
      <div class="product-pr-wrapper">
        {% section 'product_pr__herbal-serum-o2' %}
                {% section 'product_prsl__herbal-serum-o2' %}
      </div>
      <div class="product-recom-wrapper">
        {% section 'product_recomfor__herbal-serum-o2' %}
        {% section 'product_slider__herbal-serum-o2' %}
      </div>
    </div>

    {% section 'product_awards__herbal-serum-o2' %}
    {% section 'product_reviews__herbal-serum-o2' %}
  {% when 'natural-cleansing-oil' %}
    {% section 'product_details__natural-cleansing-oil' %}
    {% section 'product_gift__natural-cleansing-oil' %}
    {% section 'product_benefits__natural-cleansing-oil' %}
    {% section 'product_expl__natural-cleansing-oil' %}

    <div class="container product-pr-recom-wrapper">
      <div class="product-pr-wrapper">
        {% section 'product_pr__natural-cleansing-oil' %}
        {% section 'product_prsl__natural-cleansing-oil' %}
      </div>
      <div class="product-recom-wrapper">
        {% section 'product_recomfor__natural-cleansing-oil' %}
        {% section 'product_slider__natural-cleansing-oil' %}
      </div>
    </div>

    {% section 'product_awards__natural-cleansing-oil' %}
    {% section 'product_reviews__natural-cleansing-oil' %}
  {% when 'natural-cleansing-water' %}
    {% section 'product_details__natural-cleansing-water' %}
    {% section 'product_gift__natural-cleansing-water' %}
    {% section 'product_benefits__natural-cleansing-water' %}
    {% section 'product_expl__natural-cleansing-water' %}

    <div class="container product-pr-recom-wrapper">
      <div class="product-pr-wrapper">
        {% section 'product_pr__natural-cleansing-water' %}
        {% section 'product_prsl__natural-cleansing-water' %}
      </div>
      <div class="product-recom-wrapper">
        {% section 'product_recomfor__natural-cleansing-water' %}
        {% section 'product_slider__natural-cleansing-water' %}
      </div>
    </div>

    {% section 'product_awards__natural-cleansing-water' %}
    {% section 'product_reviews__natural-cleansing-water' %}
  {% when 'photo-white-c-whitening-mask' %}
    {% section 'product_details__photo-white-c-whitening-mask' %}
    {% section 'product_gift__photo-white-c-whitening-mask' %}
    {% section 'product_benefits__photo-white-c-whitening-mask' %}
    {% section 'product_expl__photo-white-c-whitening-mask' %}

    <div class="container product-pr-recom-wrapper">
      <div class="product-pr-wrapper">
        {% section 'product_pr__photo-white-c-whitening-mask' %}
        {% section 'product_prsl__photo-white-c-whitening-mask' %}
      </div>
      <div class="product-recom-wrapper">
        {% section 'product_recomfor__photo-white-c-whitening-mask' %}
        {% section 'product_slider__photo-white-c-whitening-mask' %}
      </div>
    </div>

    {% section 'product_awards__photo-white-c-whitening-mask' %}
    {% section 'product_reviews__photo-white-c-whitening-mask' %}
  {% when 'super-cleansing-ex' %}
    {% section 'product_details__super-cleansing-ex' %}
    {% section 'product_gift__super-cleansing-ex' %}
    {% section 'product_benefits__super-cleansing-ex' %}
    {% section 'product_expl__super-cleansing-ex' %}

    <div class="container product-pr-recom-wrapper">
      <div class="product-pr-wrapper">
        {% section 'product_pr__super-cleansing-ex' %}
        {% section 'product_prsl__super-cleansing-ex' %}
      </div>
      <div class="product-recom-wrapper">
        {% section 'product_recomfor__super-cleansing-ex' %}
        {% section 'product_slider__super-cleansing-ex' %}
      </div>
    </div>

    {% section 'product_awards__super-cleansing-ex' %}
    {% section 'product_reviews__super-cleansing-ex' %}
  {% when 'super-washing-foam-ex' %}
    {% section 'product_details__super-washing-foam-ex' %}
    {% section 'product_gift__super-washing-foam-ex' %}
    {% section 'product_benefits__super-washing-foam-ex' %}
    {% section 'product_expl__super-washing-foam-ex' %}

    <div class="container product-pr-recom-wrapper">
      <div class="product-pr-wrapper">
        {% section 'product_pr__super-washing-foam-ex' %}
        {% section 'product_prsl__super-washing-foam-ex' %}
      </div>
      <div class="product-recom-wrapper">
        {% section 'product_recomfor__super-washing-foam-ex' %}
        {% section 'product_slider__super-washing-foam-ex' %}
      </div>
    </div>

    {% section 'product_awards__super-washing-foam-ex' %}
    {% section 'product_reviews__super-washing-foam-ex' %}
  {% when 'super100-epidermal-growth-factor' %}
    {% section 'product_details__super100-epidermal-growth-factor' %}
    {% section 'product_gift__super100-epidermal-growth-factor' %}
    {% section 'product_benefits__super100-epidermal-growth-factor' %}
    {% section 'product_expl__super100-epidermal-growth-factor' %}

    <div class="container product-pr-recom-wrapper">
      <div class="product-pr-wrapper">
        {% section 'product_pr__super100-epidermal-growth-factor' %}
        {% section 'product_prsl__super100-epidermal-growth-factor' %}
      </div>
      <div class="product-recom-wrapper">
        {% section 'product_recomfor__super100-epidermal-growth-factor' %}
        {% section 'product_slider__super100-epidermal-growth-factor' %}
      </div>
    </div>

    {% section 'product_awards__super100-epidermal-growth-factor' %}
    {% section 'product_reviews__super100-epidermal-growth-factor' %}
  {% when 'super100-hyaluronic-acid' %}
    {% section 'product_details__super100-hyaluronic-acid' %}
    {% section 'product_gift__super100-hyaluronic-acid' %}
    {% section 'product_benefits__super100-hyaluronic-acid' %}
    {% section 'product_expl__super100-hyaluronic-acid' %}

    <div class="container product-pr-recom-wrapper">
      <div class="product-pr-wrapper">
        {% section 'product_pr__super100-hyaluronic-acid' %}
        {% section 'product_prsl__super100-hyaluronic-acid' %}
      </div>
      <div class="product-recom-wrapper">
        {% section 'product_recomfor__super100-hyaluronic-acid' %}
        {% section 'product_slider__super100-hyaluronic-acid' %}
      </div>
    </div>

    {% section 'product_awards__super100-hyaluronic-acid' %}
    {% section 'product_reviews__super100-hyaluronic-acid' %}
  {% when 'super100-marine-collagen' %}
    {% section 'product_details__super100-marine-collagen' %}
    {% section 'product_gift__super100-marine-collagen' %}
    {% section 'product_benefits__super100-marine-collagen' %}
    {% section 'product_expl__super100-marine-collagen' %}

    <div class="container product-pr-recom-wrapper">
      <div class="product-pr-wrapper">
        {% section 'product_pr__super100-marine-collagen' %}
        {% section 'product_prsl__super100-marine-collagen' %}
      </div>
      <div class="product-recom-wrapper">
        {% section 'product_recomfor__super100-marine-collagen' %}
        {% section 'product_slider__super100-marine-collagen' %}
      </div>
    </div>

    {% section 'product_awards__super100-marine-collagen' %}
    {% section 'product_reviews__super100-marine-collagen' %}
  {% when 'super100-vitamin-c' %}
    {% section 'product_details__super100-vitamin-c' %}
    {% section 'product_gift__super100-vitamin-c' %}
    {% section 'product_benefits__super100-vitamin-c' %}
    {% section 'product_expl__super100-vitamin-c' %}

    <div class="container product-pr-recom-wrapper">
      <div class="product-pr-wrapper">
        {% section 'product_pr__super100-vitamin-c' %}
        {% section 'product_prsl__super100-vitamin-c' %}
      </div>
      <div class="product-recom-wrapper">
        {% section 'product_recomfor__super100-vitamin-c' %}
        {% section 'product_slider__super100-vitamin-c' %}
      </div>
    </div>

    {% section 'product_awards__super100-vitamin-c' %}
    {% section 'product_reviews__super100-vitamin-c' %}
  {% when 'super-white-377vc' %}
    {% section 'product_details__superwhite-377vc' %}
    {% section 'product_gift__superwhite-377vc' %}
    {% section 'product_benefits__superwhite-377vc' %}
    {% section 'product_expl__superwhite-377vc' %}

    <div class="container product-pr-recom-wrapper">
      <div class="product-pr-wrapper">
        {% section 'product_pr__superwhite-377vc' %}
        {% section 'product_prsl__superwhite-377vc' %}
      </div>
      <div class="product-recom-wrapper">
        {% section 'product_recomfor__superwhite-377vc' %}
        {% section 'product_slider__superwhite-377vc' %}
      </div>
    </div>

    {% section 'product_awards__superwhite-377vc' %}
    {% section 'product_reviews__superwhite-377vc' %}
  {% when 'uv-protect-spray-100' %}
    {% section 'product_details__uv-protect-spray-100' %}
    {% section 'product_gift__uv-protect-spray-100' %}
    {% section 'product_benefits__uv-protect-spray-100' %}
    {% section 'product_expl__uv-protect-spray-100' %}

    <div class="container product-pr-recom-wrapper">
      <div class="product-pr-wrapper">
        {% section 'product_pr__uv-protect-spray-100' %}
        {% section 'product_prsl__uv-protect-spray-100' %}
      </div>
      <div class="product-recom-wrapper">
        {% section 'product_recomfor__uv-protect-spray-100' %}
        {% section 'product_slider__uv-protect-spray-100' %}
      </div>
    </div>

    {% section 'product_awards__uv-protect-spray-100' %}
    {% section 'product_reviews__uv-protect-spray-100' %}
  {% when 'uv-white-enrich-lift-spf50' %}
    {% section 'product_details__uv-white-enrich-lift-spf50' %}
    {% section 'product_gift__uv-white-enrich-lift-spf50' %}
    {% section 'product_benefits__uv-white-enrich-lift-spf50' %}
    {% section 'product_expl__uv-white-enrich-lift-spf50' %}

    <div class="container product-pr-recom-wrapper">
      <div class="product-pr-wrapper">
        {% section 'product_pr__uv-white-enrich-lift-spf50' %}
        {% section 'product_prsl__uv-white-enrich-lift-spf50' %}
      </div>
      <div class="product-recom-wrapper">
        {% section 'product_recomfor__uv-white-enrich-lift-spf50' %}
        {% section 'product_slider__uv-white-enrich-lift-spf50' %}
      </div>
    </div>

    {% section 'product_awards__uv-white-enrich-lift-spf50' %}
    {% section 'product_reviews__uv-white-enrich-lift-spf50' %}
  {% when 'uv-white-moisture-gel-spf50' %}
    {% section 'product_details__uv-white-moisture-gel-spf50' %}
    {% section 'product_gift__uv-white-moisture-gel-spf50' %}
    {% section 'product_benefits__uv-white-moisture-gel-spf50' %}
    {% section 'product_expl__uv-white-moisture-gel-spf50' %}

    <div class="container product-pr-recom-wrapper">
      <div class="product-pr-wrapper">
        {% section 'product_pr__uv-white-moisture-gel-spf50' %}
        {% section 'product_prsl__uv-white-moisture-gel-spf50' %}
      </div>
      <div class="product-recom-wrapper">
        {% section 'product_recomfor__uv-white-moisture-gel-spf50' %}
        {% section 'product_slider__uv-white-moisture-gel-spf50' %}
      </div>
    </div>

    {% section 'product_awards__uv-white-moisture-gel-spf50' %}
    {% section 'product_reviews__uv-white-moisture-gel-spf50' %}
  {% when 'uv-white-moisture-milk-spf50' %}
    {% section 'product_details__uv-white-moisture-milk-spf50' %}
    {% section 'product_gift__uv-white-moisture-milk-spf50' %}
    {% section 'product_benefits__uv-white-moisture-milk-spf50' %}
    {% section 'product_expl__uv-white-moisture-milk-spf50' %}

    <div class="container product-pr-recom-wrapper">
      <div class="product-pr-wrapper">
        {% section 'product_pr__uv-white-moisture-milk-spf50' %}
        {% section 'product_prsl__uv-white-moisture-milk-spf50' %}
      </div>
      <div class="product-recom-wrapper">
        {% section 'product_recomfor__uv-white-moisture-milk-spf50' %}
        {% section 'product_slider__uv-white-moisture-milk-spf50' %}
      </div>
    </div>

    {% section 'product_awards__uv-white-moisture-milk-spf50' %}
    {% section 'product_reviews__uv-white-moisture-milk-spf50' %}
  {% when 'vc100-essence-lotion' %}
    {% section 'product_details__vc100-essence-lotion' %}
    {% section 'product_gift__vc100-essence-lotion' %}
    {% section 'product_benefits__vc100-essence-lotion' %}
    {% section 'product_expl__vc100-essence-lotion' %}

    <div class="container product-pr-recom-wrapper">
      <div class="product-pr-wrapper">
        {% section 'product_pr__vc100-essence-lotion' %}
        {% section 'product_prsl__vc100-essence-lotion' %}
      </div>
      <div class="product-recom-wrapper">
        {% section 'product_recomfor__vc100-essence-lotion' %}
        {% section 'product_slider__vc100-essence-lotion' %}
      </div>
    </div>

    {% section 'product_awards__vc100-essence-lotion' %}
    {% section 'product_reviews__vc100-essence-lotion' %}
  {% when 'vc100-hot-peel-cleansing-gel' %}
    {% section 'product_details__vc100-hot-peel-cleansing-gel' %}
    {% section 'product_gift__vc100-hot-peel-cleansing-gel' %}
    {% section 'product_benefits__vc100-hot-peel-cleansing-gel' %}
    {% section 'product_expl__vc100-hot-peel-cleansing-gel' %}

    <div class="container product-pr-recom-wrapper">
      <div class="product-pr-wrapper">
        {% section 'product_pr__vc100-hot-peel-cleansing-gel' %}
        {% section 'product_prsl__vc100-hot-peel-cleansing-gel' %}
      </div>
      <div class="product-recom-wrapper">
        {% section 'product_recomfor__vc100-hot-peel-cleansing-gel' %}
        {% section 'product_slider__vc100-hot-peel-cleansing-gel' %}
      </div>
    </div>

    {% section 'product_awards__vc100-hot-peel-cleansing-gel' %}
    {% section 'product_reviews__vc100-hot-peel-cleansing-gel' %}
  {% when 'washing-foam-super-sensitive' %}
    {% section 'product_details__washing-foam-super-sensitive' %}
    {% section 'product_gift__washing-foam-super-sensitive' %}
    {% section 'product_benefits__washing-foam-super-sensitive' %}
    {% section 'product_expl__washing-foam-super-sensitive' %}

    <div class="container product-pr-recom-wrapper">
      <div class="product-pr-wrapper">
        {% section 'product_pr__washing-foam-super-sensitive' %}
        {% section 'product_prsl__washing-foam-super-sensitive' %}
      </div>
      <div class="product-recom-wrapper">
        {% section 'product_recomfor__washing-foam-super-sensitive' %}
        {% section 'product_slider__washing-foam-super-sensitive' %}
      </div>
    </div>

    {% section 'product_awards__washing-foam-super-sensitive' %}
    {% section 'product_reviews__washing-foam-super-sensitive' %}
  {% when 'the-gift-of-super-moisture' %}
    {% section 'product_details__the-gift-of-super-moisture' %}
    {% section 'product_gift__the-gift-of-super-moisture' %}
    {% section 'product_recomfor__the-gift-of-super-moisture' %}
    {% section 'product_slider__the-gift-of-super-moisture' %}
  {% when 'the-gift-of-gold-lifting-firming-therapy' %}
    {% section 'product_details__the-gift-of-gold-lifting-firming' %}
    {% section 'product_gift__the-gift-of-gold-lifting-firming' %}
    {% section 'product_recomfor__the-gift-of-gold-lifting-firming' %}
    {% section 'product_slider__the-gift-of-gold-lifting-firming' %}

  {% when 'labo-labo-super-keana-lotion' %}
    {% section 'product_details__labo-labo-super-keana-lotion' %}
    {% section 'product_gift__labo-labo-super-keana-lotion' %}
    {% section 'product_benefits__labo-labo-super-keana-lotion' %}
    {% section 'product_expl__labo-labo-super-keana-lotion' %}
    <div class="container product-pr-recom-wrapper">
      <div class="product-pr-wrapper">
        {% section 'product_pr__labo-labo-super-keana-lotion' %}
        {% section 'product_prsl__labo-labo-super-keana-lotion' %}
      </div>
      <div class="product-recom-wrapper">
        {% section 'product_recomfor__labo-labo-super-keana-lotion' %}
        {% section 'product_slider__labo-labo-super-keana-lotion' %}
      </div>
    </div>
    {% section 'product_awards__labo-labo-super-keana-lotion' %}
    {% section 'product_reviews__labo-labo-super-keana-lotion' %}

  {% when 'labo-labo-super-keana-gel' %}
    {% section 'product_details__labo-labo-super-keana-gel' %}
    {% section 'product_gift__labo-labo-super-keana-gel' %}
    {% section 'product_benefits__labo-labo-super-keana-gel' %}
    {% section 'product_expl__labo-labo-super-keana-gel' %}
    <div class="container product-pr-recom-wrapper">
      <div class="product-pr-wrapper">
        {% section 'product_pr__labo-labo-super-keana-gel' %}
        {% section 'product_prsl__labo-labo-super-keana-gel' %}
      </div>
      <div class="product-recom-wrapper">
        {% section 'product_recomfor__labo-labo-super-keana-gel' %}
        {% section 'product_slider__labo-labo-super-keana-gel' %}
      </div>
    </div>
    {% section 'product_awards__labo-labo-super-keana-gel' %}
    {% section 'product_reviews__labo-labo-super-keana-gel' %}
  
  {% when 'labo-labo-super-keana-washing' %}
    {% section 'product_details__labo-labo-super-keana-washing' %}
    {% section 'product_gift__labo-labo-super-keana-washing' %}
    {% section 'product_benefits__labo-labo-super-keana-washing' %}
    {% section 'product_expl__labo-labo-super-keana-washing' %}
    <div class="container product-pr-recom-wrapper">
      <div class="product-pr-wrapper">
        {% section 'product_pr__labo-labo-super-keana-washing' %}
        {% section 'product_prsl__labo-labo-super-keana-washing' %}
      </div>
      <div class="product-recom-wrapper">
        {% section 'product_recomfor__labo-labo-super-keana-washing' %}
        {% section 'product_slider__labo-labo-super-keana-washing' %}
      </div>
    </div>
    {% section 'product_awards__labo-labo-super-keana-washing' %}
    {% section 'product_reviews__labo-labo-super-keana-washing' %}
  
  {% when 'labo-labo-super-keana-cleansing' %}
    {% section 'product_details__labo-labo-super-keana-cleansing' %}
    {% section 'product_gift__labo-labo-super-keana-cleansing' %}
    {% section 'product_benefits__labo-labo-super-keana-cleansing' %}
    {% section 'product_expl__labo-labo-super-keana-cleansing' %}
    <div class="container product-pr-recom-wrapper">
      <div class="product-pr-wrapper">
        {% section 'product_pr__labo-labo-super-keana-cleansing' %}
        {% section 'product_prsl__labo-labo-super-keana-cleansing' %}
      </div>
      <div class="product-recom-wrapper">
        {% section 'product_recomfor__labo-labo-super-keana-cleansing' %}
        {% section 'product_slider__labo-labo-super-keana-cleansing' %}
      </div>
    </div>
    {% section 'product_awards__labo-labo-super-keana-cleansing' %}
    {% section 'product_reviews__labo-labo-super-keana-cleansing' %}
  <!-- LAST_PRODUCT -->
  {% else %}
{% endcase %}